@font-face {
    font-family: 'MouseMemoirs';
    src: url('./fonts/MouseMemoirs-Regular.ttf') format('ttf');    
}

:root {
    --transparent-black: rgba(.5, .5, .5, .5);
    --transparent-white: rgba(255, 255, 255, .5);
}

body {
    background: url('./images/restaurant.jpg');
    font-family: 'MouseMemoirs';
    display: grid;
    justify-items: center;
}

#content {
    display: grid;
    grid-template-rows: 75px 1fr;
    place-items: center;
    height: 100vh;
    width: 80%;
}

.header {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    font-size: 3em;
    color: white;
}

.tabs {
    display: flex;
    gap: 3em;
}

.tab {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .1em;
    color: white;
}

.tab:hover,
.tab:active {
    color: bisque;
}

/* HOME */
.rect {
    background-color: var(--transparent-black);
    grid-row: 2 / 3;
    min-width: 400px;
    width: 100%;
    min-height: 50vh;
    font-size: 2em;
    color: white;
    box-sizing: border-box;
    padding: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.rect * {
    margin: .2em;
}

#line1 {
    font-size: 3rem;
    font-weight: bold;
    color: bisque;
}

#line2,
#line3 {
    font-size: 2rem;
}

#line4 {
    font-size: 1.3rem;
    margin-top: 4rem;
}

/* MENU */
#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1em;
    padding: 1em;
}

.menu-element {
    background-color: var(--transparent-black);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr 1fr;       
    border: 4px solid black; 
    border-radius: 10px;
    color: white;
    padding: 1em;
    gap: 1em;
    align-items: center;
}

.menu-image {
    width: 300px;
    grid-row: 1 / 3;
    border: 2px solid white;
}

.menu-item-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.7em;
    border-bottom: 2px dotted white;
}

.menu-item-name {
    color: bisque;
}

.menu-item-price {
 color: lightgreen;
}

.menu-item-description {
    font-size: 1.3em;
}

/* CONTACT */
#contact-container {
    display: grid;
    grid-template-columns: 1fr .75fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
    background-color: var(--transparent-white);
    color: black;
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

#contact-call {
    grid-column: 1 / 3;
    font-size: 2em;
    font-weight: bold;
    justify-self: center;
}

#contact-form {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: .5em;    
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

#contact-form * {
    padding: 5px;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea {
    border: 2px solid black;
    border-radius: 10px;
}

.area {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#message-line {
    display: flex;
    align-items: center;
}

#message-area {
    flex: 2;
}

#message-input {
    height: 100%;
}

#submit-button {
    font-size: 1.2em;
    border-radius: 10px;
    background-color: bisque;
    display: grid;
}

#submit-button:hover,
#submit-button:active {
    background-color: rgb(233, 203, 173);
}
